/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.header-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 30px;
    width: 100%;
    /* max-width: 1800px; */
    height: 120px;
    background: rgb(232, 230, 212);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    
    
}

.img-airgun{
    max-width: 300px;
    width: 100%;

}
.li-item{
    position: relative;
}

.li-item:hover::after{
    width: 100%;
}

.li-item::after{
    content: '';
    height: 2px;
    width: 0%;
    background-color: red;
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;

}

.ul-bar{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
     
}

.li-item{
    margin-left: 50px;
    font-size: 25px;
    font-weight: bold;
    color: #333c45;
}
.li-item:hover{
    -webkit-transition: 3s;
    -o-transition: 3s;
    transition: 3s;
    color: red;
    font-size: 30px;
   
   
}

.active-red{
    color: red;
}
.cover-main{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    background-image: url('../images/cover1.jpg');
    background-repeat: no-repeat;
    position: relative;
    /* max-width: 1800px; */
    width: 100%;
    height: 380px;
    /* background-color: aqua; */
    margin: 0 auto;
    background-size: cover;
  
}

.cover-rifle{
    background-image: url('../images/cover2.jpg');
    
}

.cover-pistols{ background-image: url('../images/pistols.jpg');

}

.cover-ammo{ background-image: url('../images/ammo.jpg.jpg');

}

.title{
    position: absolute;
    color:#fff;
    font-family: 'Ultra', serif;
    font-size: 130px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    
}

.bottom-footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* max-width: 1800px; */
    width: 100%;
    /* padding: 30px 0; */
    height: 150px;
    background-color: #0a0a0a;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px;
}

.footer-links-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width:500px;
    height: 200px;
    
    /* background-color: aqua; */
    
}

.footer-ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 40px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    
}

.footer-li{
 margin-left: 50px;
 color: #f6f7f9;
 font-weight: bold;
}

.gun-block{ 
    padding: 50px 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    max-width: 1800px;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 50px;
    
    

}

.fix-box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: rgba(173, 5, 5, 0.795);
    width: 250px;
    height: 60px;
    position: fixed;
    z-index: 999999999;
    font-size: 50px ;
    color: rgb(253, 253, 253);
    right: -95px;
    -webkit-transform: translateY(-50%) rotate(-90deg) ;
        -ms-transform: translateY(-50%) rotate(-90deg) ;
            transform: translateY(-50%) rotate(-90deg) ;
    margin: 0 auto;
    border: 1px solid #761414 ;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 300px;
    

    
}


.fix-box:hover{
    
    /* background-color: #fff; */
    color: rgb(202, 0, 0);
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    background-color: rgb(255, 255, 255);
    
    

}



.ammo-block{
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    /* background: #2a6eec; */
    max-width: 1800px;
    width: 80%;
    /* height: 400px; */
    margin: 0 auto;
    margin-bottom: 50px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    

}


.ammo-box{
    position: relative;

    width: 280px;
    height: 400px;
    /* background: #761414; */
    margin-top: 10px;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 2px;
    
}


.top-text-box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1800px;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* margin-top: 20px; */
    margin-bottom: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

}

.text-section{
    font-size: 45px;
    color: #333c45;
}

.ammo-img{
    max-width: 350px;
    width: 100%;
}
.ammo-box-text{
    text-align: center;
    margin-top: 40px;
    font-size: 25px;
    font-family: 'Ultra', serif;
    font-weight: bold;
}

.fa-facebook-messenger{
font-size: 50px;
color: rgb(254, 252, 249);


}

.fa-facebook{
font-size: 50px;
color: rgb(254, 252, 249);
}

.fa-facebook:hover{
    color: blue;
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;

}


.fa-youtube{
    font-size: 50px;
color: rgb(249, 247, 243);
}

.fa-facebook-messenger:hover{
    color: blue;
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
}

.fa-youtube:hover{
    color: red;
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;

}

/* .ammo-img:hover{
    width: 270px;
    transition: 2s;

} */
.ammo-box:hover{
    border-color: #dc1010;
    border-width: 5px;
    

}

.burger-bar{
    display:none;
}
.fa-bars{
    font-size: 35px;
}

.fa-bars:hover{
    color: red;
    

}
.offer-text{
    color: #fff;
}

.offer-text:hover{
    color: black;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    
}

.form-element{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.form-element{
    /* background-color: antiquewhite; */
    position: absolute;
    max-width:300px;
    width: 100%;
    top: 20px;
    right: 20px;
    color: #f6f7f9;
    font-size: 25px;
}

.input-element{
    /* max-width: 200px; */
    width: 100%;
    height: 50px;
    background-color: rgb(250, 250, 250);
    border: none;

}

.send-button{
    width: 100px;
   
}

.cover-botom{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-image:url('../images/coverbotton.jpg') ;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 400px;

}



.textarea-element{
    
    width: 100%;
    height: 100%;
    color: rgb(9, 8, 8);
    font-size: 20px;
    resize: none;

}

.btn-sumbit{
    max-width: 700px;
    height: 60px;
    background:rgb(243, 228, 209) ;
    font-size: 25px;
    border: none;
     
    
}
.btn-sumbit:hover{
    background:rgb(8, 136, 87) ;
    font-size: 27px;
    color: #f6f7f9;
}

.rifle-txt{
    max-width: 1600px;
    width: 80%;
    margin: 0 auto;
    font-size: 25px;
    margin-bottom: 30px;

    
}
 .rifle-header{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
 }

 .colt{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
 }

 .img-description{

    max-width: 500px;
    height: auto;
    width: 100%;

 }

 .video-test{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;

 }

 .contact-box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 150px;
    height: 50px;
    background: #a71010;
    color: #f6f7f9;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 30px;
    
 }

 .contact-box:hover{
    background: #fcfcfc;
    color: #f01111;
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    
 }

 .main-block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
    width: 80%;
    /* background: pink; */
    /* height: 400px; */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack:justify;
        -ms-flex-pack:justify;
            justify-content:space-between;
    margin-bottom: 50px;

 }

 .left-block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
    background-size: cover;
    position: relative;
    max-width:615px;
    width: 100%;
    height:320px;
    background-image:url('../images/left-block.jpg');
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
 }

 .right-block{
   
    background-size: cover;
    position: relative;
    max-width:615px;
    width: 100%;
    height: 320px;
    background-image:url('../images/right-block.jpg');
    
 }

 .text-item{
    position: absolute;
    color:#fff;
    font-family: 'Ultra', serif;
    font-size: 48px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
     
     
 }

 .btn{
    position: absolute;
    border: 1px solid #fff;
    background-color: transparent;
    top: 65%;
    left: 40%;
     

     
     

    
}
 .left-btn,.btn, .right-btn{
    display: block;
    width: 150px;
    color: #fff;
    font-weight: 700;
    font-size: .8em;
    text-align: center;
    padding: 8px 0;
    border-radius: 5px;
   

 }
 .btn:hover{
    background-color: #761414;
    width: 150px;
    
 }
    
.txt-div{
    font-size: 18px;
    margin: 0 auto;
    width: 80%;
}

p,li{
    padding-bottom: 20px;
    line-height: 1.8em;
}

span{
    font-weight: bold;
    
}




.footer-li:hover{
   color: #dc1010;
}

.contact-block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    max-width: 1080px;
    margin-top: 30px;
    margin-bottom: 50px;
    
    
     
}

.for-element{
    /* display: flex; */
    margin: 0 auto;
    max-width: 500px;
    height: 300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px;
     
    
}